// @import "fonts";
@import "reset";

//body
body{
    background-color: #fcf5e5;
    color: #61756a;
    font-family: "Reem Kufi", sans-serif;
    
    h1{
        font-size: 250px;
        font-family: "Sonsie One", system-ui;
        @media only screen and (max-width:700px){
           font-size: 80px;
        }
    }
    h2{
        font-family: "Sonsie One", system-ui;
        font-size: 80px; 
        @media only screen and (max-width:700px){
            font-size: 30px;
         }
    }
    h3{
        font-size: 50px;
        @media only screen and (max-width:700px){
            font-size: 20px;
         }
    }
    p{
        font-size: 25px;
        @media only screen and (max-width:700px){
            font-size: 12px;
         }
    }
    hr{
        color: #61756a;
    }
}

// hover
.nav a:hover {
    color: #Bcbb8d
}
.Btn a:hover {
    color: #Bcbb8d;
}
.boxRight a:hover {
    color: #Bcbb8d;
}

//nav
.nav{
    margin-left: 1.5%;
    margin-top: 1.5%;
    border: 3px solid #61756a; 
    width: 97%;
    padding: 5px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fcf5e5;

    .insideNav ul{
        display: flex; 
        justify-content: space-evenly;
        font-size: 30px;
    }
}

//hero
.hero{
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
    @media only screen and (max-width:700px){
        margin-top: 200px; 
        margin-bottom: 265px;
     }
    
    .myName{
        margin-right: 240px;
        margin-left: 240px;
        @media only screen and (max-width:700px){
            margin-right: 26px;
            margin-left: 26px; 
         }
    }
}

//about me 
.aboutMe{
    background-color: #efe9d9;
    border: 3px solid #61756a;
    display: flex;
    align-items: center;
    @media only screen and (max-width:700px){
        display: flex;
        flex-direction: column-reverse;
     }
    
    .aboutMeleft{
       // padding: 100px;
        margin-left: 50px;
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media only screen and (max-width:700px){
            margin-left: 20px;
            margin-bottom: 25px; 
            margin-right: 0; 
         }
    }
    .Btn{
        border: 3px solid #61756a;
        border-spacing: 2px; 
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .aboutMeright img{
        border: 3px solid #61756a;
    }
}

//preview projects 
.someProjects{
    display: flex;
    padding: 70px;
    border-bottom: 3px solid #61756a;
    @media only screen and (max-width:700px){
        padding: 35px; 
        margin-top: 25px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
    .someLeft{
        @media only screen and (max-width:700px){
            
         }
    }
    .someRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 70px;
        @media only screen and (max-width:700px){
            margin-right: 0;
            display: flex;
            justify-content: flex-end;
         }
        .Btn{
            border: 3px solid #61756a;
            border-spacing: 2px; 
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 7px;
        }
    }
}

//footer
.letsTalk{
    
    .box{
        background-color: #efe9d9;
        border: 3px solid #61756a;
        margin: 70px;
        padding-top: 90px;
        padding-bottom: 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media only screen and (max-width:700px){
           margin: 25px;
           display: flex;
           flex-direction: column;
           gap: 100px;
           padding-top: 125px;
           padding-bottom: 125px;
           padding-right : 20px;
           padding-left: 20px;
         }
    }
    .footerLets{
        font-size: 155px;
        font-family: "Sonsie One", system-ui;
        @media only screen and (max-width:700px){
            font-size: 55px;
         }
    }
    .boxRight{
        font-size: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width:700px){
            font-size: 35px;
         }
    }
    
}

//projects page 
.projectTemplate{
    background-color: #61756a;
    color: #fcf5e5;

    .nav{
        border: 3px solid #fcf5e5;
        background-color: #61756a;
    }
    .Pheader{
        font-size: 200px;
        font-family: "Sonsie One", system-ui;
        margin-left: 80px;
        margin-top: 100px;
        margin-bottom: 80px;
        @media only screen and (max-width:700px){
            font-size: 50px; 
            margin-bottom: 40px;
            margin-top: 30px;
            margin-left: 25px;
         }
    }
    //opalandlolli
    .container{
        display: flex;
        padding-top: 40px;
        padding: 20px;
        border-top: 3px solid #fcf5e5;
        border-radius: 8px;
        @media only screen and (max-width:700px){
            display: flex;
            flex-direction: column;
         }
    }
    .leftColumn {
        display: flex;
        gap: 20px; 
        flex-wrap: wrap;
        padding-top: 20px;
    }
    img{
        border: 3px solid #fcf5e5;  
    }
    .box1 img{
        border: 3px solid #fcf5e5;
        flex: 0 0 253px;
    }
    .box2 img{
        border: 3px solid #fcf5e5;
        flex: 0 0 377px;
    }
    .box3 img{
        border: 3px solid #fcf5e5;
        flex: 0 0 650px; 
    }
    .right-column { 
        width: 100%;      
        padding: 0;    
        margin: 0;     
        text-align: left; 
        padding-top: 20px;
      }
      .right-column h5 {
        margin-bottom: 10px;
        font-family: "Sonsie One", system-ui;
        font-size: 40px; 
        border-top: 3px solid #fcf5e5;
        padding-top: 10px;
        @media only screen and (max-width:700px){
            font-size: 25px;
         }
      }
      .right-column h6 {
        margin-bottom: 20px;
        font-size: 30px;
        border-bottom: 3px solid #fcf5e5;
        padding-bottom: 10px;
        @media only screen and (max-width:700px){
            font-size: 18px; 
         }
      }
      .right-column p {
        margin-bottom: 10px;
        @media only screen and (max-width:700px){
            font-size: 15px; 
         }
      }

    //container 2 
    .container2{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 20px; 
        padding: 20px;
        margin: 0 auto;
        border-top: 3px solid #fcf5e5;
        @media only screen and (max-width:700px){
            display: flex; 
            flex-direction: column;
            gap: 10px;
            padding: 15px;
         }
    }

    //footer
    .footer{
        border-top: 3px solid #fcf5e5;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 80px;
        @media only screen and (max-width:700px){
            padding: 25px;
         }
    } 
    .footR{
        font-size: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width:700px){
            font-size: 20px;
         }
    }
}